body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
/* nav bar */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    font-size: 20px;
}
header nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 15px;
    transition: all 0.3s ease; 
    border-radius: 5px;
}

header nav a:hover {
    color: #333333; 
    background-color: #ffffff; 
    font-size: 17px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    transform: scale(1.05); /* Slight zoom effect */
}



header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 10px 0 0;
    font-size: 1.2em;
}

/* hero section */
.hero {
    background-image: url('/assest/software_engineering_bg.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    line-height: 1.5;
}

/* team profile section */
.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
}

.profile {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile h2 {
    margin: 10px 0;
    font-size: 1.5em;
}

.profile p {
    margin: 5px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
}
